<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <script
      src="https://kit.fontawesome.com/291ac0831b.js"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <div class="main-header-top-bar">
       <div class="header-top-row">
        <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        <form class="header-form" action="">
          <input type="text" placeholder="Buscar productos, marcas" />
          <a><i class="fa-solid fa-magnifying-glass"></i></a>
        </form>
       </div>
        <h2 class="header-right">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de credito
        </h2>
      </div>
      <a href="#" class="burguer-button">
        <i class="fas fa-bars"></i>
      </a>
      <nav class="main-header-botton-bar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li><a href="/register">Creá tu cuenta</a></li>
          <li><a href="/login">Ingresa</a></li>
          <li><a href="#">Mis compras</a></li>
        </ul>
      </nav>
    </header>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner home"/>
    <main>
      <h3 class="main_titulos">Basado en tu última visita</h3>
      <section>
        <article class="main_section_article">
          <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad59f3;"></i>
            <div class="main_article_div">
              <p class="precio">$6.770</p>
              <p>40% OFF</p>
            </div>
            <h4>Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="main_section_article">
          <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad59f3;"></i>
            <div class="main_article_div">
              <p class="precio">$230.000</p>
              <p>20% OFF</p>
            </div>
            <h4>MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="main_section_article">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de celular" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad59f3;"></i>
            <div class="main_article_div">
              <p class="precio">$70.500</p>
              <p>10% OFF</p>
            </div>
            <h4>Samsung Galaxy S10</h4>
          </div>
        </article>
        <article class="main_section_article">
          <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de smart tv" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad59f3;"></i>
            <div class="main_article_div">
              <p class="precio">$23.200</p>
              <p>5% OFF</p>
            </div>
            <h4>SmartTv Samsung 43"</h4>
          </div>
        </article>
      </section>
      <h3 class="main_titulos">Ofertas</h3>
      <section>
        <article class="main_section_article">
          <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad59f3;"></i>
            <div class="main_article_div">
              <p class="precio">$6.770</p>
              <p>40% OFF</p>
            </div>
            <h4>Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="main_section_article">
          <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad59f3;"></i>
            <div class="main_article_div">
              <p class="precio">$230.000</p>
              <p>20% OFF</p>
            </div>
            <h4>MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="main_section_article">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de celular" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad59f3;"></i>
            <div class="main_article_div">
              <p class="precio">$70.500</p>
              <p>10% OFF</p>
            </div>
            <h4>Samsung Galaxy S10</h4>
          </div>
        </article>
        <article class="main_section_article">
          <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de smart tv"/>
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad59f3;"></i>
            <div class="main_article_div">
              <p class="precio">$23.200</p>
              <p>5% OFF</p>
            </div>
            <h4>SmartTv Samsung 43"</h4>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <section>
        <article>
          <i class="fa-solid fa-credit-card"></i>
          <h5>Pagá con tarjeta o en efectivo</h5>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article>
          <i class="fa-solid fa-gift"></i>
          <h5>Envío gratis desde $ 2.500</h5>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneﬁcio de Mercado Puntos.
          </p>
        </article>
        <article>
          <i class="fa-solid fa-user-shield"></i>
          <h5>Seguridad, de principio a ﬁn</h5>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
        <article>
          <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </article>
      </section>
    </footer>
  </body>
</html>
